<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>


<div class="courses">
    <!-- This even will occur when click on the anywhere on the component-->
    <!-- Click event can also be replace with a custom event-->
    <course-card (courseSelected)="onCourseSelected($event)" [c] = "object1"></course-card>
    <course-card (courseSelected)="onCourseSelected($event)" [c] = "object2"></course-card>
    <course-card (courseSelected)="onCourseSelected($event)" [c] = "object3"></course-card>
</div>


